header {
	overflow: hidden;
	padding: 15px;
	margin: 0 0 2px;
}

header .logo {
	float: left;
	padding: 0 0 6px;
}

header .logo img {
	width: 213px;
}

header a.lb-link {
	float: right;
	color: #fff;
	text-transform: uppercase;
	font-size: .625em;
	margin: 54px 0 0;
}

header nav {
	clear: both;
	margin: 0 -15px;
	padding: 15px;
	background: #000;
	overflow: hidden;
	font-family: 'Fjalla One', sans-serif;
	font-size: 20px;
}

header nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

header nav li {
	list-style: none;
	float: left;
	margin: 0 10px 0 0;
}

header nav li:after {
	content: "/";
	color: #7d7d7d;
}

header nav li:last-child:after {
	content: "";
}

header nav ul a {
	text-transform: uppercase;
	display: block;
	float: left;
	margin: 0 10px 0 0;
}

header nav ul a:hover {
	color: #ee1c24;
	text-decoration: none;
}

header nav .actions {
	float: right;
	padding: 2px 0;
}

header nav .actions a {
	display: block;
	float: left;
	margin-left: 10px;
}

header ul.sub-menu {
	position: absolute;
	margin-top: 1em;
	padding-top: 10px;
	margin-left: -14px;
	z-index: 30;
	display: none;
}

header nav li:hover ul.sub-menu {
	display: block;
}

header ul.sub-menu li {
	float: none;
	margin: 0;
}

header ul.sub-menu li:after {
	content: none;
	display: none;
}

header ul.sub-menu li a {
	background: #000;
	font-family: 'Muli', sans-serif;
	text-transform: none;
	float: none;
	margin: 0;
	font-size: 13px;
	padding: 5px 14px;
}

header ul.sub-menu li a:hover {
	background: #ee1c24;
	color: #fff;
}

a.facebook, a.youtube {
	text-indent: -99999px;
	margin-top: 3px;
}

a.youtube {
	width: 22px;
	height: 17px;
	background: url(../img/youtube.png) 0 0 no-repeat;
	background-size: 100% 100%;
}

a.youtube:hover {background-image: url(../img/youtube_over.png);}

a.facebook {
	width: 9px;
	height: 17px;
	background: url(../img/facebook.png) 0 0 no-repeat;
	background-size: 100% 100%;
}

a.facebook:hover {background-image: url(../img/facebook_over.png);}

