.sidebar-widget {
	background: #fff;
	color: #000;
	padding: 10px 15px;
	font-size: .6875em;
}

.sidebar-widget>div {
	border-bottom: 1px #c1c1c1 solid;
	margin-bottom: 10px;
}

.sidebar-widget h3 {
	margin: 0 0 10px;
	text-transform: uppercase;
	font-size: 1.090909091em;
	font-weight: normal;
}

aside.sidebar h2 {
	color: #6a6ca9;
	font-size: 2em;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Fjalla One', sans-serif;
	margin: 0;
}

.sidebar-widget ul {
	list-style: none;
	margin: 0 0 5px;
	padding: 0;
}

.sidebar-widget ul li {
	list-style: none;
	margin: 5px 0;
}

.sidebar-widget p {
	margin: 0;
}